// Background & Colors
$white: #fff;
$aubergine: #190920;
$dark-auber: #11071b;
$pink: #aa277d;
$purple: #632b53;

$border-radius-button: 3px;

// Fonts
$font-primary: 'SansSerifFLF', sans-serif;
$font-secondary: 'Century Gothic', sans-serif;



// Media Queries Breakpoints
$xxs: 0;
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;





